# مفتاح خدمة Stripe
STRIPE_PUBLIC_KEY=change_this_to_your_public_key
STRIPE_SECRET_KEY=change_this_to_your_secret_key
STRIPE_WEBHOOK_SECRET =change_this_to_your_webhook_secret_key
success_url=http://localhost:3000/payment/success?session_id={CHECKOUT_SESSION_ID}
cancel_url=http://localhost:3000/payment/cancel
# مكتبة التمارين الخارجية
EXERCISEDB_RAPIDAPI_KEY=change_this_to_your_key
EXERCISEDB_RAPIDAPI_HOST=change_this_to_your_url_host
# مكتبة الأطعمة الخارجية (Edamam Food Database API)
EDAMAM_APP_ID=change_this_to_your_ID
EDAMAM_APP_KEY=change_this_to_your_key

SECRET_KEY='change_this_to_your_key'

EMAIL_HOST_PASSWORD=change_this_to_your_pass
EMAIL_HOST_USER=change_this_to_your_email_user

DATABASE_URL=postgresql://postgres:change_this_to_your_pass@localhost:5432/CocahLink_db

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CHANNEL_REDIS_URL=redis://127.0.0.1:6379/1

POSTGRES_DB=coachlink_db
POSTGRES_USER=coachlink
POSTGRES_PASSWORD=change_this_to_your_pass
